doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Clocking App v0.1
  body
    h1 Clocking App
    p Welcome to our simple Clocking App
    p
      a(href="/login") Login
